body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-image: url("stone.png");
    background-repeat: repeat;
    line-height: 1.5;
}

/*=====================================MAIN-CONTENT=====================================*/
#main-content-holder{
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*=====================================TITLE=====================================*/
#title-holder{
    width: 100%;
    padding: 5px 0 5px 0;
    text-align: center;
    background-color: #0099ff;
    font-size: 2rem;
}

/*=====================================MENU=====================================*/
#menu{
    width: 100%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    background-image: linear-gradient(#1f1f1f, #003a61);
}
nav a{
    height: 100%;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
    color: white;
    text-decoration: none;
}
nav a:hover{
    background-image: linear-gradient(#003a61, #1f1f1f);
}
.active-link{
    background-image: linear-gradient(#003a61, #1f1f1f);
}

/*=====================================CONTENT=====================================*/
#content-holder{
    display: flex;
    flex-direction: row;
    background-color: darkgray;
}
#content-holder-left, #content-holder-right{
    padding: 10px;
    background-color: #e7e7e7;
    flex-direction: column;
    justify-content: center;
}
#content-holder-left{
    flex: 3;
}
#content-holder-right{
    flex: 1;
}
.content{
    background-color: white;
    flex-direction: column;
    display: flex;
    margin: 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
}
p, li{
    font-size: 1.3rem;
}

/*=====================================LIST=====================================*/
li{
    border-left: 3px solid #0099ff;
    margin: 15px 0 15px 5px;
    padding-left: 5px;
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    text-decoration: underline;
}
ul{
    list-style: none;
}

/*=====================================SPAN=====================================*/
.red{
    color: red;
}

/*=====================================FOOTER=====================================*/
footer{
    border-top: 5px solid #0099ff;
    background-image: linear-gradient(#1f1f1f, #424242);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-content{
    margin: 5px;
}